#container {
	background-color: black;
}

#logo {
	text-align: center;
	font-family: ; /* buy graffiti fonts for when putting into portfolio?? */
}

a {
	color: black;
}

a:hover {
	color: black;
	text-decoration: none;
}

h2 {
	transform: rotate(-30deg);
	position: relative;
	left: 160px; /* have to use pixels so that it doesn't move relative to "Hangman" */
	bottom: 50px; /* have to use pixels so that it doesn't move relative to "Hangman" */
	width: 96%;
}

#picture {
	text-align: center;
}

footer {
	background-color: black;
	color: white;
	height: 75px; /* can't do percentage here b/c there's no size to inherit from */ 
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 50%;
}